Package: libjq-dev
Source: jq
Version: 1.5+dfsg-2
Architecture: amd64
Maintainer: ChangZhuo Chen (陳昌倬) <czchen@debian.org>
Installed-Size: 56
Depends: libjq1 (= 1.5+dfsg-2)
Section: libdevel
Priority: optional
Multi-Arch: same
Homepage: https://github.com/stedolan/jq
Description: lightweight and flexible command-line JSON processor - development files
 jq is like sed for JSON data – you can use it to slice
 and filter and map and transform structured data with
 the same ease that sed, awk, grep and friends let you
 play with text.
 .
 It is written in portable C, and it has minimal runtime
 dependencies.
 .
 jq can mangle the data format that you have into the
 one that you want with very little effort, and the
 program to do so is often shorter and simpler than
 you’d expect.
 .
 This package contains the development files.
